.editor{
    margin-top: 5rem;
}
h2::before{
    content: 'blog';
}
.editor figure.addButton{
    font-size: var(--small-2);
    aspect-ratio: 1/1;
    cursor: pointer;
    color: var(--green);
    display: inline-flex;
    place-content: center;
    transition: scale 250ms;
}
.editor button:active,.editor figure:active{
    scale: .95;
}
.editor figure.addButton[aria-disabled="true"]{
    pointer-events: none;
    opacity: .6;
}